/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.d-flex {
    display: flex;
}

input[type="text"] {
    border: 1px solid #ccc;
    outline: none;
}

.btn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none !important;
    padding: 6px 0;
    min-height: 30px;
    /* background-color: #000; */
    /* color: #fff; */
    font-size: 16px;
    transition: all 0.4s linear;
    border: 1px solid #fff;
    border-radius: 0 !important;
    cursor: pointer;
}
/* .btn:focus,
.btn:active {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #000 !important;
}

*/
.btn:hover {
    opacity: .8;
} 

.btn-delete {
    color: #ff7675;
    background-color: #fff;
    border-color: #ff7675;
}

.error {
    color: red;
}

.success {
    font-size: 16px;
    color: green;
}

/*  */
.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #000;
    transition: all 0.5s ease;
}
.sidebar.active {
    width: 60px;
}
.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center;
}
.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.sidebar .nav-links {
    margin-top: 10px;
}
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}
.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li a.active {
    background: #fff;
}
.sidebar .nav-links li a.active i,
.sidebar .nav-links li a.active .links_name {
    color: #000;
}

.sidebar .nav-links li a:hover {
    background: #fff;
}
.sidebar .nav-links li a:hover i,
.sidebar .nav-links li a:hover .links_name {
    color: #000;
    transition: color 0.4s linear;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}
.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .home-section {
    width: calc(100% - 60px);
    left: 60px;
}
.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}
.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}
nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}
.home-section nav .search-box {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}
nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #f5f6fa;
    border: 2px solid #efeef1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}
nav .search-box .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697ff;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}
.home-section nav .profile-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f6fa;
    border: 2px solid #efeef1;
    border-radius: 6px;
    height: 50px;
    min-width: 150px;
    padding: 0 15px 0 2px;
}
nav .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}
nav .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}
nav .profile-details i {
    font-size: 25px;
    color: #333;
}
.home-section .home-content {
    position: relative;
    padding-top: 104px;
}
.home-content .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
}
.overview-boxes .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.overview-boxes .box-topic {
    font-size: 20px;
    font-weight: 500;
}
.home-content .box .number {
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
}
.home-content .box .indicator {
    display: flex;
    align-items: center;
}
.home-content .box .indicator i {
    height: 20px;
    width: 20px;
    background: #8fdacb;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}
.box .indicator i.down {
    background: #e87d88;
}
.home-content .box .indicator .text {
    font-size: 12px;
}
.home-content .box .cart {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
}
.home-content .box .cart.two {
    color: #2bd47d;
    background: #c0f2d8;
}
.home-content .box .cart.three {
    color: #ffc233;
    background: #ffe8b3;
}
.home-content .box .cart.four {
    color: #e05260;
    background: #f7d4d7;
}
.home-content .total-order {
    font-size: 20px;
    font-weight: 500;
}
.home-content .sales-boxes {
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales {
    width: 65%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .sales-boxes .sales-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sales-boxes .box .title {
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 10px; */
}
.sales-boxes .sales-details li.topic {
    font-size: 20px;
    font-weight: 500;
}
.sales-boxes .sales-details li {
    list-style: none;
    margin: 8px 0;
}
.sales-boxes .sales-details li a {
    font-size: 18px;
    color: #333;
    font-size: 400;
    text-decoration: none;
}
.sales-boxes .box .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.sales-boxes .box .button a {
    color: #fff;
    background: #0a2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.sales-boxes .box .button a:hover {
    background: #0d3073;
}

/* Right box */
.home-content .sales-boxes .top-sales {
    width: 35%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px 0 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sales-boxes .top-sales li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.sales-boxes .top-sales li a img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 10px;
    background: #333;
}
.sales-boxes .top-sales li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sales-boxes .top-sales li .product,
.price {
    font-size: 17px;
    font-weight: 400;
    color: #333;
}
/* Responsive Media Query */
@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }
    .sidebar.active {
        width: 220px;
    }
    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active ~ .home-section {
        left: 220px;
        width: calc(100% - 220px);
        overflow: hidden;
    }
    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active ~ .home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }
}
@media (max-width: 1150px) {
    .home-content .sales-boxes {
        flex-direction: column;
    }
    .home-content .sales-boxes .box {
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 30px;
    }
    .home-content .sales-boxes .top-sales {
        margin: 0;
    }
}
@media (max-width: 1000px) {
    .overview-boxes .box {
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }
}
@media (max-width: 700px) {
    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i {
        display: none;
    }
    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }
    .home-content .sales-boxes .sales-details {
        width: 560px;
    }
}
@media (max-width: 550px) {
    .overview-boxes .box {
        width: 100%;
        margin-bottom: 15px;
    }
    .sidebar.active ~ .home-section nav .profile-details {
        display: none;
    }
}
@media (max-width: 400px) {
    .sidebar {
        width: 0;
    }
    .sidebar.active {
        width: 60px;
    }
    .home-section {
        width: 100%;
        left: 0;
    }
    .sidebar.active ~ .home-section {
        left: 60px;
        width: calc(100% - 60px);
    }
    .home-section nav {
        width: 100%;
        left: 0;
    }
    .sidebar.active ~ .home-section nav {
        left: 60px;
        width: calc(100% - 60px);
    }
}



/* Category */

.show-category {
    width: 80%;
    margin-left: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #000;
}

.show-category > thead > tr {
    height: 40px;
}

.show-category tr > td {
    text-align: center;
}
.show-category > thead > tr > td:first-child {
    width: 5%;
}
.show-category > thead > tr > td:nth-child(3) {
    width: 15%;
}

.show-category  td:nth-child(2),
.show-category  td:nth-child(4) {
    width: 30%;
}

.show-category > tbody > tr:nth-child(odd) {
    background-color: #dfdfdf;
}

.show-category tbody tr td:last-child {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}

.show-category td + td {
    border-left: 1px solid #fff;
}

.btn.add-cate-modal-btn {
    background-color: #000;
    color: #fff;
    padding: 6px 8px;
    margin-left: 24px;
}

.btn__delete-cate + .modal .modal-dialog,
.btn__update-cate + .modal .modal-dialog,
.add-cate-modal-btn + .modal .modal-dialog {
    width: 30% !important;
}

.edit-category-tb,
.add-cate-form .modal-body table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.edit-category-tb tr,
.add-cate-form .modal-body table tr {
    display: flex;
    justify-content: space-between;
}

.edit-category-tb tr td:last-child,
.add-cate-form .modal-body table tr td:last-child {
    width: 65%;
}

.edit-category-tb input[type='text'],
.edit-category-tb select,
.add-cate-form .modal-body table input[type="text"],
.add-cate-form .modal-body table select {
    padding: 4px 6px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0;
    border: 1px solid #ccc;
    outline: none;
}


.btn__update-cate,
.btn__delete-cate {
    width: 30%;
    height: 20px !important;
    
}

.btn.btn__delete-cate {
    border-color: #d63031;
    color: #d63031;
    background-color: #fff;
}
.btn.btn__delete-cate:hover {
    background-color: #d63031;
    color: #fff;
}

.btn__update-cate + .modal button[type='submit'],
.btn__delete-cate + .modal button[type='submit'] {
    padding: 4px 8px;
    margin-left: 24px;
}

/* Product */
.add-product-modal-btn {
    margin-left: 24px;
    background-color: #000 !important;
    outline: none !important;
    border-color: #000 !important;
    padding: 6px 8px;
}

.add-product-modal-btn:hover {
    /* background-color: #fff !important;
    color: #000; */
}

.add-product-modal-btn i {
    font-size: 2.3rem;
    margin-left: 4px;
}

.btn-close-product-modal {
    padding: 4px 6px;
    outline: none !important;
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #000 !important;
}

.product-modal {
    border-radius: 0 !important;
    width: 100% !important;
}

.product-modal .modal-footer {
    justify-content: flex-end;
}

.btn-edit-product-modal,
.btn-add-product-modal {
    padding: 4px 8px;
    outline: none !important;
    border: 1px solid #000 !important;
    margin-left: 42px !important;
}
.btn + .modal .modal-dialog {
    width: 70%;
}

.product table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.product table input:not(input[type="file"]),
.product table select {
    width: 70%;
    padding: 4px 0 4px 6px;
    border-radius: 0;
    outline: none;
}

.product table tr td:nth-child(1),
.product table tr td:nth-child(3) {
    width: 15%;
}

.product table tr td:nth-child(2),
.product table tr td:nth-child(4) {
    width: 35%;
}

.product table tr:last-child td {
    vertical-align: top;
}

/* Product table */
.product-table {
    margin: 24px;
    width: 95%;
}
.product-table thead tr th {
    background-color: #000;
    color: #fff;
}
.product-table tbody tr {
    height: 20px !important;
}

.product-table tbody tr td {
    vertical-align: middle;
}
.product-table tbody tr td:nth-child(3) {
    width: 12%;
}

.product-table tbody tr td:nth-child(4) {
    width: 80px;
    /* text-align: center; */
}
.product-table tbody tr td img {
    max-width: 100%;
}
.product-table tbody tr td:nth-child(5),
.product-table tbody tr td:nth-child(7) {
    width: 12%;
}
.product-table tbody tr td:last-child {
    width: 20%;
}

.product-table tbody tr td .wrap-btn {
    justify-content: space-evenly;
}
.product-table button {
    padding: 6px 8px;
}

.modal-product-desc .modal-content {
    height: 300px;
    border-radius: 0 !important;
}

.btn-delete + .modal .modal-dialog {
    width: 40% !important;
}

.btn-delete + .modal .modal-dialog .btn-delete {
    background-color: #e74c3c;
    color: #fff;
    padding: 0 20px !important;
    margin-left: 16px;
}
.btn-delete + .modal .modal-dialog .btn-delete:hover {
    border-color: #e74c3c;
    opacity: 0.7;
}

.order-list-table {
    margin: 24px; 
    width:95%;
}

.order-list-table > tbody > tr > td {
    vertical-align: middle;
}

.order-list-table > tbody > tr > td button {
    padding: 4px 12px;
}

.customer-detail {
    width: 50%;
    border-collapse: separate;
    border-spacing: 0 15px;
}
.customer-detail > tbody > tr > td {
    height: 30px;
}
.customer-detail > tbody > tr > td:first-child {
    width: 25%;
}
.customer-detail > tbody > tr > td > input,
.customer-detail > tbody > tr > td > textarea
{
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid #ccc;
    outline:none;
    padding: 6px 8px;
    transition: all .1s;
    border-radius: 5px;
}

.customer-detail > tbody > tr > td > input:focus,
.customer-detail > tbody > tr > td > textarea:focus {
    outline: 3px solid #bfdeff;
}
/* Order detail page */
.dp-flex {
    display: flex;
}
.order-table{
    width: 100%;
}

.product-gallery-table,
.slider-table,
.order-list-table {
    width: 95%;
    margin: 24px;
}


.slider-table > thead > tr > th:first-child,
.order-list-table > thead > tr > th:first-child {
    width: 5%;
}


.slider-table > tbody > tr > td,
.order-table > tbody > tr > td,
.order-list-table > tbody > tr > td,
.product-gallery-table > tbody > tr > td {
    vertical-align: middle;
}

.slider-table > tbody > tr > td:nth-child(2),
.order-table > tbody > tr > td:nth-child(2) {
    width: 20%;
}
.order-table > tbody > tr > td:nth-child(3) {
    width: 15%;
}

.order-table > thead > tr > th:last-child,
.order-table > tbody > tr > td:last-child {
    padding-right: 30px;
    text-align: right;
}

.slider-table > tbody > tr > td:nth-child(4),
.slider-table > tbody > tr > td:nth-child(5) {
    width: 12%;
}

.slider-table,
.slider-table > thead > tr > th,
.product-gallery-table > thead > tr > th {
    text-align: center;
}

.add-slider-modal-btn {
    padding: 6px 8px;
}



.product-gallery-table > tbody > tr > td:nth-child(1) {
    width: 8%;
}

.product-gallery-table > tbody > tr > td:nth-child(3),
.product-gallery-table > tbody > tr > td:nth-child(4) {
    width: 5%;
}

.product-gallery-table > tbody > tr > td:nth-child(2) {
    width: 30%;
}


.product-gallery-table > tbody > tr > td:last-child {
    width: 20%;
}


