/*==== I. Header ==== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    margin: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    background-color: var(--white-color);
}

.header .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-bottom: 1px solid var(--border-color);
}

/*==== 1.1 Navbar =====*/
.menu__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
    align-items: center;
}

.menu__list > li {
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: color 0.4s;
}

.menu__list > li:hover {
    color: #ac2f33;
}

.menu__list > li:hover .list-submenu {
    display: flex;
}

.menu__list > li + li {
    margin-left: 15px;
}

/* About us */
.menu__list > li.ps-relative:hover .about-us__list {
    display: block;
}
.about-us__list {
    width: 250px;
    position: absolute;
    top: 132%;
    left: 0;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    list-style: none;
    padding-left: 0;
    animation: slideIn ease-out 0.5s;
    cursor: default;
    display: none;
}

.about-us__list::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    height: 20px;
    background-color: transparent;
}

.about-us__item {
}

.about-us__item-link {
    text-decoration: none;
    text-transform: none;
    font-size: 1.4rem;
    font-weight: 450;
    color: var(--black-color);
    display: block;
    padding: 16px 24px;
}

.about-us__item-link:hover {
    background-color: #f5f4f4;
}

/* ===== 1.2 Logo ===== */
.logo {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.logo__img {
    width: 140px;
}

/* ======= 1.3 Right-navbar ========= */
.right-navbar {
    height: 40px;
}

/* Search */
.search {
    width: 240px;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.search__input {
    font-size: 1.4rem;
    border: 0;
    outline: 0;
    flex: 1;
    height: 18px;
}

.search__input::placeholder {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3rem;
    color: #828482;
    line-height: 18px;
}

.search__icon {
    font-size: 1.6rem;
    padding: 0 12px;
    cursor: pointer;
    color: #5a245a;
}

/* Others */
.others {
    width: 132px;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.others__items {
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
}

.login__link {
    text-decoration: none;
    color: var(--black-color);
}

.others__items + .others__items {
    margin-left: 18px;
}
.others__items:first-child {
    margin-left: 22px;
}

.others__items > .login > .action {
    --height: 207px;
    overflow: hidden;
    position: absolute;
    top: 200%;
    right: 0;
    background-color: var(--white-color);
    width: 200px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    animation: filterOpen ease .4s;
    display: none;
}

.others__items > .login > .action > h3 {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 12px 12px;
    border-bottom: 1px solid var(--border-color);
}
.others__items > .login > .action > h3 > a {
    color: var(--black-color);
    text-decoration: none;
}


.others__items > .login > .action > ul {
    padding-left: 0;
    list-style: none;
}
.others__items > .login > .action > ul > li {
    padding: 12px;
}
.others__items > .login > .action > ul > li:hover {
    background-color: #dfe6e9;
}

.others__items > .login > .action > ul > li > i {
    width: 16px;
    font-size: 1.4rem;
    padding-right: 24px;
}
.others__items > .login > .action > ul > li > a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--black-color);
    display: inline-block;
    width: 80%;
}
/* cart */
.cart {
    position: relative;
}

.number-cart {
    position: absolute;
    top: -11px;
    right: -22px;
    width: 20px;
    height: 20px;
    padding: 2px 2px;
    border-radius: 50%;
    color: var(--white-color);
    background-color: var(--black-color);
    font-size: 1.2rem;
    text-align: center;
    line-height: 18px;
}

.cart-info {
    height: 100vh;
    width: 450px;
    position: fixed;
    top: 0;
    right: -1px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: default;
    display: none;
    z-index: 999;
}

.open-cart-info {
    display: block !important;
    animation: showCartInfo ease 0.5s;
}

.close-cart-animation {
    animation: closeCartInfo ease 0.5s;
    transition: transform 0.5s;
}

@keyframes showCartInfo {
    0% {
        opacity: 0;
        transform: translateX(450px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes closeCartInfo {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(450px);
    }
}

.cart-info__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 74px;
    padding: 0 24px;
}

.cart-info__heading h3 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.cart-info__number {
    font-size: 1.4rem;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 4px 8px;
    border-radius: 50%;
    margin-left: 8px;
}

.cart-info__close {
    font-size: 2.2rem;
    opacity: 0.5;
    cursor: pointer;
}

.cart-info__close-icon {
}

.cart-info-no-item .cart-list--wrap {
    height: 506px;
}
.cart-info-no-item .cart-item__button .btn.btn__extra-btn {
    display: none;
}

.cart-list--wrap {
    min-height: 430px;
    border-top: 1px solid #f7f8f9;
    border-bottom: 1px solid #f7f8f9;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 14px;
}
.cart-list {
    padding-left: 0;
    list-style: none;
    /* height: 340px; */
    margin-top: 24px;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 85%;
}

/* Custom scrollbar */
.cart-list::-webkit-scrollbar {
    width: 6px;
}

.cart-list::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 20px;
}

.cart-item {
    height: 114px;
    margin: 0 24px 18px;
    padding: 0 0 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f7f8f9;
}
.cart-item:last-child {
    margin-bottom: 0;
}

.cart-item__img-wrap {
    width: 65px;
    height: 96px;
}

.cart-item__img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

.cart-item__info {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 0 4px 16px;
}

.cart-item__heading {
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--black-color);
}

.cart-item__heading:hover {
    color: #ac2f33;
}

.cart-item__desc {
    display: flex;
    font-size: 1.5rem;
    font-weight: 300;
    color: #6d6d70;
}

.cart-item__desc p + p {
    margin-left: 20px;
}
.cart-item__color {
    text-transform: capitalize;
    color: #221f20;
}

.cart-item__size {
    text-transform: uppercase;
}

.cart-item__price-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item__price-wrap > form {
    display: flex;
    align-items: center;
}

.cart-item__price-wrap > form > input[type="submit"] {
    width: 85px;
    height: 24px;
    font-size: 1.3rem;
    margin-left: 12px;
    background-color: var(--black-color);
    color: var(--white-color);
    border: 1px solid transparent;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    transition: all .3s;
}
.cart-item__price-wrap > form > input[type="submit"]:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    border-color: var(--black-color);
}

.cart-item__price {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ac2f33;
}

.cart-item__price-mini {
    /* justify-self: flex-end; */
    display: inline-block;
    /* height: 60px; */
    /* display: flex; */
    padding: 0 24px;
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
}

.cart-item__price-mini p {
    display: inline-block;
    color: #6d6d70;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 4px;
}

.cart-item__total-price {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black-color);
    align-self: flex-end;
}

.cart-item__button {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item__button .btn{
    height: 56px;
    width: 100%;
}

.cart-item__button .btn + .btn {
    margin-top: 20px;
}

/* Slider */
.slider-container {
    width: calc(100vw - 80px);
    margin: 80px auto 0;
    height: 516px;
    position: relative;
}

.slider {
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    text-align: center;
}

.slider-container::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -10px;
    width: 100px;
    height: 97.7%;
    background-color: #fff;
    border-bottom-right-radius: 75px;
    border: 1px solid var(--border-color);
    z-index: -2;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    height: 100%;
    transition: left 0.5s;
}

.aspect-ratio-169 img {
    margin-right: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-user-drag: none;
}

.dot-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    background-color: transparent;
    cursor: pointer;
}

.dot.dot--active {
    background-color: var(--white-color);
}

.dot + .dot {
    margin-left: 16px;
}

.move-right-btn,
.move-left-btn {
    position: absolute;
    top: 50%;
}

.move-right-btn {
    right: 30px;
}
.move-left-btn {
    left: 30px;
}

.move-slide-icon {
    opacity: 0.1;
    font-size: 3rem;
    transition: opacity .4s;
}
.move-slide-icon:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* Footer */
.footer {
    padding: 64px 0 30px;
    border-top: 1px solid #d1d2d4;
    border-bottom: 1px solid #d1d2d4;
}

.footer .container {
    justify-content: space-between;
}

.left-footer {
    width: 22.05%;
}

.logo-footer {
    align-items: center;
    justify-content: space-between;
}

.logo-footer .logo-company{
    width: 108px;
    height: 30px;
}
.logo-footer .dcma-badge {
    width: 74px;
    height: 24px;
}
.logo-footer .logo-MIT {
    width: 82px;
    height: 30px;
}

.logo-footer img {
    width: 100%;
}

.company-info {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: 300;
    color: var(--text-color);
    margin-top: 18px;
}

.registered-address p,
.phone-number p,
.company-email p{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--black-color);
    margin-top: 22px;
}

.registered-address p span,
.phone-number p span,
.company-email p span {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-color)
}

.company-email p span{
    font-size: 1.4rem;
}

.social-list {
    height: 30px;
    padding-left: 0;
    list-style: none;
    vertical-align: baseline;
    margin: 30px 0;
}

.social-item {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-item:first-child {
    justify-content: flex-start;
}

.social-item:hover .social-item__logo {
    transform: scale(1.2);
}

.social-item__logo {
    max-width: 100%;
    height: auto;
    transition: transform .4s;
}

.social-item + .social-item {
    margin-left: 25px;
}

.hotline .btn.btn__primary-btn {
    width: 230px;
    height: 54px;
}

.center-footer {
    width: 45.2%;
    justify-content: space-between;
}

.title-footer {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.center-center-ft ul,
.right-center-ft ul,
.left-center-ft ul {
    list-style: none;
    padding-left: 0;
}

.center-center-ft ul li a,
.right-center-ft ul li a,
.left-center-ft ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-color);
    margin-bottom: 24px;
}

.center-center-ft ul li a:hover,
.right-center-ft ul li a:hover,
.left-center-ft ul li a:hover {
    color: var(--black-color);
}

.right-footer {
    width: 23.75%;
}

.register-form {
    border: 4px solid var(--border-color);
    padding: 28px 12px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.register-form .title-footer {
    text-align: left;
    width: 72%;
    line-height: 1.5;
    font-size: 2rem;
    margin: 0 0 14px;
    letter-spacing: 0.5px;
}

.input-box {
    height: 36px;
    justify-content: space-between;
}

.register-email {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border-color);
    flex: 0.9;
    font-size: 1.4rem;
}

.input-box .btn.btn.btn__primary-btn {
    padding: 4px;
    text-transform: none;
    font-size: 1.4rem;
    font-weight: 300;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.input-box .btn.btn.btn__primary-btn::before {
    border-bottom-right-radius: 20px;
}

.download-app {
    margin-top: 36px;
}

.download-app .title-footer {
    margin-bottom: 28px;
}

.download-app__list {
    list-style: none;
    padding-left: 0;
}
.download-app__item {
    display: inline-block;
    width: 180px;
}

.download-app__item + .download-app__item{
    margin-top: 4px;
}

.download-app__img {    
    width: 100%;
    height: auto;
}

/* Copyright */
.copy-right {
    text-align: center;
}

.copy-right p {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-color);
    padding: 26px 0;
}

/* Product New Arrival */
.new-arrival__heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 30px;
    position: relative;
}

.new-arrival__heading::before,
.new-arrival__heading::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    height: 2px;
    background-color: var(--border-color);
}

.new-arrival__heading::before {
    left: 0;
}
.new-arrival__heading::after {
    right: 0;
}

.product-field-name {
    font-size: 2rem;
    font-weight: 300;
    color: var(--black-color);
    text-align: center;    
    margin-bottom: 30px;
    position: relative;
}


.product-field-name::before {
    content: '';
    position: absolute;
    top: 116%;
    left: 50%;
    width: 108px;
    height: 2px;
    transform: translateX(-50%);
    background-color: var(--black-color);
}

.product__link {
    text-decoration: none;
    color: var(--text-color);
}

.new-product {
    margin-top: 42px;
    height: auto;
}
.new-product .container {
    /* display: block;
    position: relative;
    height: 100%;
    transition: left 0.5s; */

}

.list-product-wrap {
    overflow: hidden;    
    padding: 0 8px;
    margin: 0 -7px;
    position: relative;
}

.move-product-right,
.move-product-left {
    position: absolute;
    top: 37%;
    z-index: 20;
    font-size: 2.5rem;
    opacity: 0.1;
    transition: opacity .4s;
}
.move-product-right:hover,
.move-product-left:hover {
    cursor: pointer;
    opacity: 1;
}

.move-product-right {
    right: 20px;
}
.move-product-left {
    left: 20px;
}


.list-product {
    background-color: var(--white-color);
    list-style: none;
    padding-left: 0;
    /* justify-content: space-between; */
    display: block;
    position: relative;
    height: 100%;
    transition: left 0.5s;
    height: 440px;

}

.product{
    width: 230px;
    margin-right: 0;
    display: block;
    position: absolute;
    /* width: 100%; */
    height: 100%;
    top: 0;
    left: 0;
    -webkit-user-drag: none;
}


/* .product + .product {
} */

.product__img-wrap {
    width: 100%;
    height: 345px;
    position: relative;
}
/* .product__img-wrap img:first-child {
    width: 10%;
} */

.ticket-new {
    position: absolute;
    top: 0;
    left: -8px;
    z-index: 11;
    width: 80px;
    height: 40px;
    background-image: url('https://pubcdn.ivymoda.com/ivy2/images/bg_news.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color);
}

.ticket-new::after {
    content: "";
    position: absolute;
    top: 36px;
    left: 0px;
    border-top: 14px rgb(172, 47, 51);
    border-left: 6px transparent;
    border-bottom: 4px transparent;
    border-right: 2px rgb(172, 47, 51);
    border-style: solid;
}

.ticket-discount {
    position: absolute;
    top: 0;
    left: -8px;
    z-index: 11;
    width: 80px;
    height: 32px;
    background-image: url(https://pubcdn.ivymoda.com/ivy2/images/bg-seller.png);
    background-repeat: no-repeat;
    background-size: 140%;
    text-align: center;
    text-transform: uppercase;
    line-height: 32px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color);
    border-bottom-right-radius: 30px;
}
.ticket-discount::after {
    content: "";
    position: absolute;
    top: 31px;
    left: 0px;
    border-top: 14px #D73831;
    border-left: 6px transparent;
    border-bottom: 4px transparent;
    border-right: 2px #D73831;
    border-style: solid;
}



.lazy {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.hover-img-product {
    z-index: -1;
}

.product__img-wrap:hover .hover-img-product {
    z-index: 1;
    animation: fadeInImg ease 0.5s;
}
@keyframes fadeInImg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}


.product__desc {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-content: center;
    font-size: 1.4rem;

}

.product__name {
    color: #57585A;    
    font-weight: 300;
}

.product__name:hover {
    color: #AC2F33;
}

.product__like {
    font-size: 1.8rem;
    position: relative;
}

.product__like-icon {

}
.product__like-icon--filled {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(245, 61, 61);
}
.product__like-icon--filled::before {
    display: none;
}

.active.product__like-icon--filled::before {
    display: block !important;
}

.product__footer {
    justify-content: space-between;
    align-items: center;
}

.product__price {

}

.product__price--new-price {
    font-size: 1.6rem;
    font-weight: 500;
    color: #5d5d5e;
}
.product__price--old-price {
    font-size: 1.4rem;
    text-decoration: line-through;
    font-weight: 500;
    color: #afb0b4;
}

.product__size {
    position: relative;
}
.product__size i{
    font-size: 1.8rem;
    padding: 6px 8px;
    border: 1px solid var(--black-color);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--black-color);
    color: var(--white-color);
    transition: all .4s;
}

.product__size:hover i{
    background-color: var(--white-color);
    color: var(--black-color);
    cursor: pointer;
}
.open-product__size {
    display: block !important;
}

.close-product__size-animation {
    animation: slideOutProductSize ease .2s !important;
}

.product__size-list {
    list-style: none;
    padding-left: 0;
    position: absolute;
    bottom: 110%;
    right: 0;
    width: 134px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    animation: slideInProductSize ease .2s;
    display: none;
}
@keyframes slideInProductSize {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideOutProductSize {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}
.product__size-item {
    display: block;
    height: 45px;
    text-align: center;
    line-height: 45px;
}

.product__size-item:hover {
    background-color: #ececec;
}

.product__size-item > button {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}


.view-all-product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all-btn {
    display: inline-block;
    width: 132px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: none;
    margin-top: 24px;
    margin-bottom: 30px;
}


/* Category page*/
.content__heading {
    margin-top: 80px;
    border-bottom: 1px solid #f7f8f9;
    align-items: center;
}

.content__menu {
    padding-left: 0;
    list-style: none;
    padding: 20px 0
}

.content__menu-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
    letter-spacing: 1px;
}

.content__menu-item {
    position: relative;
}

.content__menu-item + .content__menu-item {
    padding-left: 32px;
}

.content__menu-item-separate {
    position: absolute;
    top: 40%;
    left: 12px;
    width: 10px;
    height: 0.1px;
    transform: translateY(-50%);
    background-color: #a0a2a2;
}

.content__menu-item-name {
}

/* Product page */
.product-detail {
    margin-top: 120px;
    margin-bottom: 60px;
}

.product-detail .container {
    padding-bottom: 60px;
    border-bottom: 1px solid var(--border-color);
    justify-content: space-between;
}

.product-gallery__slide {
    width: 600px;
    height: 750px;
    justify-content: space-between;
}

.product-item__zoom {
    position: relative;
    width: 83%;
    overflow: hidden;
}

.product-item__zoom-icon-right,
.product-item__zoom-icon-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    opacity: .3;
    cursor: pointer;
    z-index: 3;
}

.product-item__zoom-icon-right {
    right: 2%;
}

.product-item__zoom-icon-left {
    left: 2%;
}

.product-item__zoom-img {
    max-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.product-item__zoom-img-2 {
    max-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.product-item__zoom-img--animation {
    z-index: 1;
    animation: fadeInImg linear .2s;
}


.product-gallery__slide-small {
    width: 14%;
    align-items: center;
    position: relative;
}

.product-gallery__slide-small-list-wrap {
    width: 100%;
    height: 530px;
    overflow: hidden;
}
.product-gallery__slide-small-list {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    transition: top 0.5s;
}

.product-gallery__slide-small-list img {
    margin-right: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 126px;
    top: 0;
    left: 0;
    -webkit-user-drag: none;
    cursor: pointer;
}


/* icon move slide gallery */
.product-gallery__slide-small-icon-up,
.product-gallery__slide-small-icon-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    cursor: pointer;
    opacity: 0.7;
}

.product-gallery__slide-small-icon-up {
    top: 10%;
}
.product-gallery__slide-small-icon-down {
    bottom: 10%;
}

/* Product infomation */
.product-info-wrap {
    flex: 0.9;
    flex-direction: column;
    justify-content: space-between;
}
.product-infomation {
}

.product-infomation__heading {
    
}

.product-infomation__name {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    padding: 12px 0;
    line-height: 1.1;
}
.product-infomation > h3 {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 10px 0 30px;
}

.product-infomation__id {
}

.product-infomation__price {
    margin-bottom: 30px;
}

.product-infomation__price-new {
    font-size: 2.5rem;
    font-weight: 500;
}

.product-infomation__price-old {
    font-size: 1.6rem;
    font-weight: 300;
    color: #a8a9ad;
    text-decoration: line-through;
}

.product-infomation__price-sale {
    font-size: 1.5rem;
    padding: 6px 8px;
    color: var(--white-color);
    background-color: #dc633a;
    position: relative;
    bottom: 10px;
    margin-left: 12px;
}

.product-infomation p {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.product-infomation__color {
    text-transform: capitalize;
}

.product-infomation__size-list {
    padding-left: 0;
    list-style: none;
}
.product-infomation__size-list input[type='radio'] {
    display: none;
}

.product-infomation__size-list span {
    display: inline-block;
    width: 50px;
    padding: 8px 0;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    color: #313131;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.product-infomation__size-list li + li {
    margin-left: 12px;
}

.size-selected {
    font-weight: 400 !important;
    border-color: var(--black-color) !important;
    color: var(--black-color) !important;
}

.product-infomation__quantity {
    margin: 30px 0;
    align-items: center;
}

.product-infomation__quantity > h3 {
    font-size: 1.7rem;
    font-weight: 400;
    color: #6c6d70;
    margin-right: 16px;
}

.product-infomation__quantity > .item-quantity-wrap {
    height: 34px;
    width: 100px;
}

.item-quantity-wrap > input[name="update-quantity"] {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 6px 0;
    font-size: 1.3rem;
    margin-top: 12px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .4s;
}
.item-quantity-wrap > input[name="update-quantity"]:hover {
    background-color: var(--white-color);
    border-color: var(--black-color);
    color: var(--black-color);
}

.product-infomation__btn {
    width: 55%;
    justify-content: space-between;
}


.product-infomation__btn > .btn{
    font-size: 1.8rem;
    padding: 14px 18px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.product-desc-wrap {
    height: 25%;
    flex-direction: column;
    justify-content: space-between;
}
.product-desc {
    height: 85%;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--black-color);
}

.product-desc-wrap > h4 {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 24px;
}
.product-desc > p {
    color: var(--black-color);
    /* font-size: 1.5rem;
    font-weight: 300; */
}
.product-desc::-webkit-scrollbar {
    width: 6px;
}

.product-desc::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 20px;
}

/* Recommend product wrap */
.recomment-product {
    margin-bottom: 60px;
}
.recomment-product h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 24px;
}

/* Advertise */
.advertise {
    position: relative;
    margin-bottom: 30px;
}
.advertise-img{ 
    max-width: 100%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    z-index: 2;
}
.advertise::after {
    content: '';
    position: absolute;
    top: 18px;
    right: -10px;
    width: 100px;
    height: 95%;
    z-index: 1;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-bottom-right-radius: 100px;
}

/* Cart page */
.cart-field-wrap {
    margin-top: 120px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.cart-field-left {
    flex: 7;
}

.checkout-process {
    width: 100%;
    border: 1px solid var(--border-color);
    align-items: center;
    padding: 16px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.checkout-list {
    padding-left: 0;
    height: 63px;
    width: 100%;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.checkout-list::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: var(--border-color);
}

.checkout-list li {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--black-color);
    position: relative;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.checkout-list li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 2px solid var(--border-color);
    z-index: 2;
}

.checkout-list li:first-child::before {
    background-color: var(--black-color);
    border-color: var(--white-color) !important;
}

.checkout-list li:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: -16px;
    width: 60px;
    height: 15px;
    background-color: var(--white-color);
    z-index: 2;
}

/* .checkout-list li:last-child::after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    width: 60px;
    height: 15px;
    background-color: var(--white-color);
    z-index: 2;
} */


/* Cart table */
.cart__list > h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin: 30px 0;
}

.cart__list > h1 > span {
    color: #d73831;
    text-transform: capitalize;
}
.cart__list.no-cart .cart-table {
    display: none;
}

.cart-table {
    width: 100%;
}

thead th{
    padding-bottom: 24px;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);
    border-bottom: 1px solid  var(--border-color);
}
thead th:first-child {
    width: 45%;
}
thead th:last-child {
    width: 15%;
}

tbody td {
    vertical-align: top;
    padding: 24px 0;
    /* border-top: 1px solid  var(--border-color); */
    border-bottom: 1px solid  var(--border-color);
    
}
.cart__product-item > a {
    text-decoration: none;
}

.cart__product-item img {
    width: 150px;
    height: 215px;
}


.cart__product-item > div {
    padding-left: 24px;
}
.cart__product-item > div > a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: 24px;
    display: block;
}

.cart__product-item > div > p {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
}

.cart__product-item-name {
    text-transform: capitalize;
    padding-right: 12px;
}

td > .item-quantity-wrap {
    width: 100px;
    height: 30px;
}

.cart__product-sale-price {
    font-size: 1.6rem;
    font-weight: 300;
    color: #6c6d70;
}

.cart__product-sale-price > span {
    font-size: 1.3rem;
    font-weight: 500;
    color: #d73831;
}

.cart__product-total-price {
    font-size: 2rem;
    font-weight: 500;
    color:var(--black-color);
    align-items: center;
    justify-content: space-between;
}

.cart__product-total-price  button {
    width: 30px;    
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart__product-total-price  button > i {
    font-weight: 300;
    transition: color .2s;
}
.cart__product-total-price  button:hover > i {
    color:rgb(245, 61, 61);
}

.cart__list .btn.btn__primary-btn {
    width: 250px;
    height: 50px;
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: capitalize;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cart__list .btn.btn__primary-btn::before {
    display: none;
}

.cart-field-right {
    flex: 3;
    padding-left: 30px;
}

.cart-summary {
    padding: 30px;
    background-color: rgba(247, 248, 249, 0.5);
}

.cart-summary > h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.cart-summary__overview-item {
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 300;
    color: #57585A;
}

.cart-summary__overview-item + .cart-summary__overview-item {
    margin-top: 16px;
}

.total-product {
    color: var(--black-color);
}

.total-price-product,
.order-total-price {
    color: var(--black-color);
}

.cart-field-right .btn.btn__extra-btn{
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.6rem;
}

.inner-note {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border-color);
}

.inner-note__item {
    align-items: flex-start;
    color: #b15766;
}

.inner-note__item + .inner-note__item {
    margin-top: 12px;
}

.left-inner-note {
    font-size: 2rem;
    width: 20px;
    height: 20px;
}

.content-inner-note {
    font-size: 1.4rem;
    margin-left: 12px;
}

.content-inner-note span {
    color: #ac3134;
}

/* Order page */
.active-process::before {
    width: 12px !important;
    height: 12px !important;
    background-color: var(--black-color) !important;
    border-color: var(--white-color) !important;
    z-index: 2;
}

.active-process::after {
    content: '';
    position: absolute;
    top: 6px;
    right: 50%;    
    width: 400%;
    height: 4px;
    background-color: var(--black-color);
}

.delivery-address {
    margin-top: 30px;
}

.cart-field-left__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 500;
}

.delivery-address__input {
    font-size: 1.6rem;
}   

.consignee-name,
.consignee-phone,
.consignee-address {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--black-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    height: 50px;
    padding: 10px;
}
    

.consignee-name:focus,
.consignee-phone:focus,
.consignee-address:focus {
    outline: 3px solid #bfdeff;
}

.consignee-name {
    width: 48%;
}

.consignee-phone {
    width: 48%;
    float: right;
}

.consignee-address {
    display: block;
    margin-top: 24px;
    width: 100%;
}

.payment-methods,
.delivery-methods {
    margin-top: 30px;
}

.delivery-methods > p {
    font-size: 1.5rem;
    font-weight: 400;
    border: 1px solid var(--border-color);
    padding: 12px;
}

.delivery-methods > p span {
    margin-right: 12px;
}
.payment-list {
    padding: 12px;
    border: 1px solid var(--border-color);
    list-style: none;
}

.payment-list li {
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.payment-list li + li {
    margin-top: 12px;
}
.payment-list li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    border-radius: 50%;
    z-index: -1;
}
.payment-list li.active {
    font-weight: 400;
}
.payment-list li span {
    margin-right: 12px;
    visibility: hidden;
}

.active span {
    visibility: visible !important;
}

/* Login-page */
.login-register-wrap {
    margin-top: 120px;
    /* height: 600px; */
    padding: 0 30px;
    justify-content: space-between;
    margin-bottom: 30px;
}


.register-wrap,
.login-field {
    width: 45%;
    text-align: center;
    padding: 0 30px;
}

.login-field__heading {
    font-size: 2rem;
    font-weight: 500;
}

.login-field p {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-color);
    margin-bottom: 30px;
    line-height: 1.5;
}

.login-form {
    width: 80%;
    margin: 0 auto;
}

.login-field input:not(input[type="checkbox"]) {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 20px;
}
.login-field input:not(input[type="checkbox"]):focus {
    outline: 3px solid #bfdeff;
}

.login-field input:not(input[type="checkbox"])::placeholder {
    color: #aeb4c7;
}

.login-field label {
    width: 45%;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 300;
}
.login-field label input{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.login-field .btn.btn__extra-btn {
    font-size: 1.6rem;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.register-wrap p {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-color);
    line-height: 1.5;
}

.register-wrap .btn.btn__extra-btn {
    font-size: 1.6rem;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;    
}

.register-wrap {
    padding: 0 40px;
}

.add-to-cart-success {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
}


/* Register page */
.login-register-wrap .register-form {
    padding: 12px 200px;
}

.login-register-wrap .register-form > h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.login-register-wrap .register-form > h4 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.login-register-wrap .register-form > table {
    width: 100%;
}
.login-register-wrap .register-form > table td {
    border-bottom: none;
    vertical-align: middle;
    padding: 10px 0;
}

.login-register-wrap .register-form > table td:nth-child(1),
.login-register-wrap .register-form > table td:nth-child(3) {
    width: 20%;
    padding-left: 6px;
}


.login-register-wrap .register-form > table label {
    font-size: 1.6rem;
    font-weight: 400;
}

.login-register-wrap .register-form > table input, 
.login-register-wrap .register-form > table textarea, 
.login-register-wrap .register-form > table select {
    width: 100%;
    /* height: 36px; */
    font-size: 1.4rem;
    padding: 14px 12px;
    color: #57585A;
    border-radius: 5px;
    border: 1px solid #E7E8E9;
    resize: none;
}
.login-register-wrap .register-form > table select[id='ward'] {
    width: 100%;
}

.login-register-wrap .register-form > table input:focus, 
.login-register-wrap .register-form > table textarea:focus, 
.login-register-wrap .register-form > table select:focus {
    outline: 3px solid #bfdeff;
}
.login-register-wrap .register-form > button[type='submit'] {
    height: 50px;
    width: 200px;
    margin: 0 auto;
    font-size: 1.3rem;
}

/* Customer Page */
.info-wrapper {
    margin-top: 36px;
    margin-bottom: 36px;
}

.info-sidebar {
    flex: .2;
    border: 3px solid var(--border-color);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 24px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.info {
    flex: .8;
}

.info-sidebar__user {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.info-sidebar__img {
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-sidebar__img > img {
    max-width: 100%;
}

.info-sider__username {
    font-size: 1.6rem;
    font-weight: 500;
    color: #6c6d70;
}

.info-sidebar > ul {
    padding-left: 0;
    list-style: none;
    width: 80%;
}
.info-sidebar > ul > li {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--black-color);
}

.info-sidebar > ul > li > a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 300;
}
.info-sidebar > ul > li > i {
    width: 30px;
}
.info-sidebar > ul > li + li{
    margin-top: 16px;
}

.info-sidebar > ul > li.active > a{
    font-weight: 500;
}


/* Order detail page */
.order-table,
.order-list-table {
    width: 100%;
}


.order-list-table > thead > tr > th:first-child {
    width: 5%;
}

.order-table > tbody > tr > td,
.order-list-table > tbody > tr > td {
    vertical-align: middle;
}


.order-table > thead > tr > th:last-child,
.order-table > tbody > tr > td:last-child {
    padding-right: 30px;
    text-align: right;
}

/* Page list */
.page-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.page-list > ul{
    padding-left: 0;
    list-style: none;
    display: flex;
}
.page-list > ul > li > a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--black-color);
    display: inline-block;
    padding: 6px 14px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .3s;
}
.page-list > ul > li:hover > a {
    background-color: var(--black-color);
    color: var(--white-color);
}

.page-list > ul > li + li {
    margin-left: 12px;
}

.cur-page {
    background-color: var(--black-color) !important;
    color: var(--white-color) !important;
}

/* form */
.form-message {
    display: block;
    margin-top: 6px;
    margin-left: 4px;
    font-size: 1.4rem;
}

.invalid > .form-message {
    color: red;
}

.invalid > input, 
.invalid > textarea,  
.invalid > select {
    border-color: red !important;
}